@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family:"Roboto";
}

a {
  font-size: 18px;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  margin-right: 400px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
}

nav {
  margin: 25px 140px 0px 130px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

h1 {
  margin-bottom: 0px;
}

.button-sign {
  background-color: #3882f6;
  border-radius: 10px;
  border: solid 2px #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 900;
  padding: 5px 35px;
}

.first-section {
  background-color: #1f2937;
  height: 540px;
}

.first-img{
  height: 200px;
}

.initial-text {
  margin-top: 50px;
  height: 350px;
  padding: 40px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-start;
}

p {
  font-size: 18px;
}

.Main-text {
  margin-top: 0px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.text-from-top p {
  color: #e5e7eb;
  margin-top: 0px;
  margin-bottom: 15px;
}

.second-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f9faf8;
  padding: 20px 70px 0px 70px;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.box-img-and-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box-for-img {
  display: flex;
  align-items: center;
  height: 200px;
  width: 200px;
  border: solid 3px #3882f6;
  border-radius: 20px;
}

.text-for-img {
  color: #8d8f92;
}

.third-section {
  background-color: #e5e7eb;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight:light;
  justify-content: right;
}

.text-from-quote {
  font-size: 36px;
}

.end-quote {
  justify-self:end;
  align-self: flex-end;
}

.final-message-sign-up {
  margin: 100px 200px;
  padding: 20px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.final-message-sign-up 
button {
border-color: #e5e7eb;
}

footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#e5e7eb ;
  background-color: #1f2937;
}